@mixin special
  background: #123
  border: 1px solid gold
  color: gold
  padding: 10px
  &:hover
    border-color: blue
    color: white
    cursor: pointer
    transition: .4s

@mixin green
  border-color: green
  color: green

@mixin espacamento($p, $m)
  padding: $p
  margin: $m