@import 'variables'
@import 'button'
@import 'mixins'

// @mixin special
//   background: #123
//   border: 1px solid gold
//   color: gold
//   padding: 10px
//   &:hover
//     border-color: blue
//     color: white
//     cursor: pointer
//     transition: .4s

body
  margin: 20px

.p-esp
  @include special

h2
  @include special
  @include green

.esp-menor
  @include espacamento(10px, 10px)
  @include custom-border(solid, red)

.esp-media
  @include espacamento(15px, 15px)
  @include custom-border(dotted, red, 2px)

.esp-maior
  @include espacamento(20px, 20px)
  @include custom-border(solid, blue)

.esp-maior-ainda
  $pad: 25px
  $mar: 25px
  @include espacamento($pad, $mar)
  @include custom-border(solid, gold, 2px)