div, main
  background: #ddd

  p, h2
    color: darkblue

main
  .p-vermelho
    color: red

li
  color: purple

ol
  > li
    color: blue

a
  border: 1px solid green
  color: green
  display: block
  padding: 10px
  text-align: center
  text-decoration: none
  transition: .4s
  width: 150px

  &:hover
    background: green
    color: white

.container
  background: #ccc
  padding: 20px
  margin: 20px

  &-content // .container-content
    color: red

.spacing
  padding: 200px

.btn
  background: blue
  border: 1px solid blue
  border-radius: 5px
  color: #fff
  cursor: pointer
  margin: 5px
  padding: 10px 20px
  &:hover
    background-color: transparent
    color: blue

  &-success
    background: green
    border-color: green
    &:hover
      color: green

  &-danger
    background: red
    border-color: red
    &:hover
      color: red