// escopo global
$text-color: #0c65bf
$bg-color: #113311
$border: 2px solid red

h1
  color: $text-color
  border: $border
p
  color: $text-color
  border: $border

a
  color: $text-color

div
  p
    $font-color: white // escopo local
    $font2-color: red
    $border: 3px dotted green
    background: $bg-color
    color: $font-color
    border: $border

    span
      color: $font2-color
      border: $border

h2
  border: $border